html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.img-slider {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 20px 40px;
  margin-right: -10px;
  height: 95vh;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.img-slider img {
  color: #fff;
  height: auto;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}

nav {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.header_container {
  width: 1200px;
  margin: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  .head_side {
    width: 30%;
    margin: 20px;
  }

  .nav_side {
    width: 70%;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .main_nav ul {
      display: flex;
      list-style-type: none;
      margin-top: 10px;

      font-weight: 700;

      font-size: 14px;

      font-family: "Raleway", sans-serif;

      & li {
        margin: 5px;
        padding: 10px;
        position: relative;
        display: inline-block;
        &:hover .dropdown {
          opacity: 1;
          visibility: visible;
        }

        .dropdown {
          margin-top: 19px;
          opacity: 0;
          visibility: hidden;
          // display: none;
          position: absolute;
          background-color: #2b2a2a;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 100000;
          color: #9b9b9b;
          font-size: 13px;
          font-weight: 300;
          line-height: normal;
          border-bottom: 1px solid rgba(255, 255, 255, 0.06);
          transition: all 0.3s linear 0ms !important;
          font-family: "Poppins", sans-serif;

          ul {
            display: flex;
            flex-direction: column;
            width: 200px;

            li {
              margin: 0px;
            }
          }
        }

        & a {
          text-decoration: none;
          color: #fff;
          transition: all 0.3s linear;

          &:hover {
            color: rgb(187, 147, 86);
          }
        }
      }
    }

    .site_menu {
      display: flex;
      flex-direction: row;
      margin-top: 15px;

      .button_menu {
        background-color: #bb9356;
        padding: 0 6px;
        font-weight: 600;
        margin: 0;
        line-height: 40px;
        font-size: 14px;
        cursor: pointer;
        font-family: "Raleway", sans-serif;
        color: #fff;
        transition: all 0.3s linear;
      }

      .group_menu {
        margin-left: 20px;
        margin-top: 10px;

        span {
          margin: 10px;
          cursor: pointer;
          transition: all 0.3s linear;

          &:hover {
            color: rgb(187, 147, 86);
          }
        }
      }
    }
  }
}

.title-h2 {
  position: absolute;
  z-index: 19;
  top: 40%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  .title-h2-1 h2 {
    z-index: 6;
    white-space: nowrap;
    font-size: 45px;
    line-height: 55px;
    font-weight: 400;
    color: rgb(187, 147, 86);
    letter-spacing: 0px;
    font-family: Ruthie;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px 10px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
  }

  .title-h2-2 h2 {
    z-index: 7;
    white-space: nowrap;
    font-size: 60px;
    line-height: 80px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    font-family: "Abril Fatface";
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
  }

  .title-h2-2 p {
    z-index: 8;
    white-space: nowrap;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    font-family: Poppins;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
  }
  .title-h2-a {
    margin: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    transition: all 0.3s linear;

    &:hover {
      background-color: #bb9356;
      border-color: rgb(187, 147, 86);
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
